<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title%></title>

    <!--header-->
    <%- include('../partials/head.html') -%>

</head>
<body>
    <!--divLogo-->
    <%- include('../partials/logo.html'); -%> 
    <div id="divBoxed" class="container">
        <!--divNavigation-->
        <%- include('../partials/navigation.html'); -%>
        
        <div id="divArea" class="container mt-5">

            <div class="container">
                    <a href="/">Home</a> &nbsp;/&nbsp; <span>Publications</span>  &nbsp;/&nbsp; <span>Conference papers</span>
                </div>
        
                    <div class="container mt-5 mb-5">
                    <h3> Articles in peer-reviewed conference proceedings  </h3>
                </div>
        
                <div class="container" style="text-align: center;">
                    <h4>-2019-</h4>
                </div>
        
                <div class="container" style="text-align: justify;">
                    <td>
                        <p> <strong>Rodriguez, E.</strong>, Rodriguez, J. P., Alvares, A. J., Riaño, C., De Oliveira, L. E. Developing a MTConnect Framework for RepRap Additive Manufacturing Machines. 
                            <em>9th IFAC/IFIP/IFORS/IISE/INFORMS Conference Manufacturing Modelling, Management and Control MIM 2019</em>, Berlin, Germany, 2019. https://doi.org/10.1016/j.ifacol.2019.11.583
                            <a href="https://www.sciencedirect.com/science/article/pii/S2405896319315708" target="_blank"><i class="fas fa-link"></i></a></p>
                    </td>
                    <td>
                        <p> Riaño, C. <strong>Rodriguez, E.</strong>, Alvares, A. J. A Closed-Loop Inspection Architecture for Additive Manufacturing Based on STEP Standard. 
                            <em>9th IFAC/IFIP/IFORS/IISE/INFORMS Conference Manufacturing Modelling, Management and Control MIM 2019</em>, Berlin, Germany, 2019. https://doi.org/10.1016/j.ifacol.2019.11.629
                            <a href="https://www.researchgate.net/publication/333929077_Implementation_of_the_STEP-NC_and_MTConnect_Standards_for_Additive_Manufacturing" target="_blank"><i class="fas fa-link"></i></a></p>
                    </td>
                    <td>
                        <p> <strong>Rodriguez, E.</strong>, Alvares, A. Implementation of the STEP-NC and MTConnect Standards for Additive Manufacturing. 
                            <em>10th Brazilian Congress on Manufacturing Engineering</em>, São Carlos-SP, Brazil, 2019. https://doi.org/10.26678/ABCM.COBEF2019.COF2019-0296
                            <a href="https://link.springer.com/article/10.1007/s40430-019-2039-6" target="_blank"><i class="fas fa-link"></i></a></p>
                    </td>
                    <td>
                        <p> Posada, A., <strong>Rodriguez, E.</strong>, Alvares, A. A Functional Application Activities Model for Hybrid Additive-Subtractive Manufacturing. 
                            <em>10th Brazilian Congress on Manufacturing Engineering</em>, São Carlos-SP, Brazil, 2019. https://doi.org/10.26678/ABCM.COBEF2019.COF2019-0331
                            <a href="https://www.researchgate.net/publication/333929315_A_Functional_Application_Activities_Model_for_Hybrid_Additive-Subtractive_Manufacturing" target="_blank"><i class="fas fa-link"></i></a></p>
                    </td>
                    <td>
                        <p> <strong>Rodriguez, E.</strong>, Alvares, A. A STEP-NC implementation approach for additive manufacturing. 
                            <em>29th International Conference on Flexible Automation and Intelligent Manufacturing</em>, Limerick, Ireland, 2019. https://doi.org/10.1016/j.promfg.2020.01.002
                            <a href="https://www.sciencedirect.com/science/article/pii/S2351978920300020" target="_blank"><i class="fas fa-link"></i></a></p>
                    </td>
                </div>

                <div class="container" style="text-align: center;">
                    <h4>-2018-</h4>
                </div>
        
                <div class="container" style="text-align: justify;">
                    <td>
                        <p> Rodriguez, J. P., Peña, C., <strong>Rodriguez, E.</strong> Atlas_GcodeSender: a Graphical User Interface for Control of a Robotics Additive Manufacturing Platform. 
                            <em>2018 IEEE International Conference on Mechatronics and Automation (ICMA)</em>, Changchun, China, 2018. https://doi.org/10.1109/ICMA.2018.8484308
                            <a href="https://ieeexplore.ieee.org/document/8484308" target="_blank"><i class="fas fa-link"></i></a>
                        </p>
                        <p> Alvares, A. J., <strong>Rodriguez, E.</strong>, Riaño, C., Development of the Linear Delta Robot for Additive Manufacturing. 
                            <em>2018 5th International Conference on Control, Decision and Information Technologies (CoDIT)</em>, Thessaloniki, Greece, 2018. https://doi.org/10.1109/CoDIT.2018.8394869
                            <a href="https://ieeexplore.ieee.org/document/8484308" target="_blank"><i class="fas fa-link"></i></a>
                        </p>
                        <p> <strong>Rodriguez, E.</strong>, Riaño, C., Alvares, A. J. Design and kinematic analysis of the linear delta robot with single legs for additive manufacturing. 
                            <em>X Congresso Nacional de Engenharia Mecânica</em>, Salvador-BA, Brazil, 2018. https://doi.org/10.26678/ABCM.CONEM2018.CON18-0343
                            <a href="https://www.researchgate.net/publication/326428116_DESIGN_AND_KINEMATIC_ANALYSIS_OF_THE_LINEAR_DELTA_ROBOT_WITH_SINGLE_LEGS_FOR_ADDITIVE_MANUFACTURING" target="_blank"><i class="fas fa-link"></i></a>
                        </p>
                    </td>
                </div>

                <div class="container" style="text-align: center;">
                    <h4>-2017-</h4>
                </div>

                <div class="container" style="text-align: justify;">
                    <td>
                        <p> <strong>Rodriguez, E.</strong>, Bonnard, R., Alvares, A. Proposal of an Advanced Data Model for STEP-NC Compliant Additive Manufacturing. 
                            <em>24th ABCM International Congress of Mechanical Engineering</em>, Curitiba, Brazil, 2017. https://doi.org/10.26678/ABCM.COBEM2017.COB17-2435
                            <a href="https://www.researchgate.net/publication/321807744_Proposal_of_an_Advanced_Data_Model_for_STEP-NC_Compliant_Additive_Manufacturing" target="_blank"><i class="fas fa-link"></i></a>
                        </p>
                        <p> <strong>Rodriguez, E.</strong>, Bonnard, R., Alvares, A. Propuesta de un Nuevo Modelo de Información para Manufactura Aditiva basado en STEP-NC. 
                            <em>XIII Congresso Ibero-Americano de Engenharia Mecânica</em>, Lisboa, Portugal, 2017.
                            <a href="https://www.researchgate.net/publication/320625172_Propuesta_de_un_Nuevo_Modelo_de_Informacion_para_Manufactura_Aditiva_basado_en_STEP-NC" target="_blank"><i class="fas fa-link"></i></a>
                        </p>
                        <p> Cortés, E. de J., <strong>Rodriguez, E.</strong>, Riaño, C., Bonnard, R., Peña, C. Approach on the development of the 5R parallel robot for additive manufacturing. 
                            <em>IX Congresso Brasileiro de Engenharia de Fabricação</em>, Joinville, Brazil, 2017. https://doi.org/10.26678/ABCM.COBEF2017.COF2017-0627
                            <a href="https://www.researchgate.net/publication/318440099_APPROACH_ON_DEVELOPMENT_OF_THE_5R_PARALLEL_ROBOT_FOR_ADDITIVE_MANUFACTURING" target="_blank"></i></a>
                        </p>
                        <p> <strong>Rodriguez, E.</strong>, Riaño, C., Alvares, A. Projeto Mecatrônico de um Robô com Cinemática Paralela Delta Linear para Manufatura Aditiva. 
                            <em>IX Congresso Brasileiro de Engenharia de Fabricação</em>, Joinville, Brazil, 2017. https://doi.org/10.26678/ABCM.COBEF2017.COF2017-0627
                            <a href="https://www.researchgate.net/publication/319994242_Projeto_Mecatronico_de_um_Robo_com_Cinematica_Paralela_Delta_Linear_para_Manufatura_Aditiva" target="_blank"></i></a>
                        </p>
                    </td>
                </div>

                <div class="container" style="text-align: center;">
                    <h4>-2016-</h4>
                </div>
        
                <div class="container" style="text-align: justify;">
                    <td>
                        <p> Rangel, J. C., <strong>Rodriguez, E.</strong>, Rodrigue, J. P., Hernandez, L. K. Development of an automated system for fuel injectors test through quality function deployment concept. 
                            <em>XIII Congreso Internacional sobre Innovación y Desarrollo Tecnológico</em>, Cuernavaca, Mexico, 2016.
                        </p>
                    </td>
                </div>

                <div class="container" style="text-align: center;">
                    <h4>-2015-</h4>
                </div>
        
                <div class="container" style="text-align: justify;">
                    <td>
                        <p> <strong>Rodriguez, E.</strong>, Cortes, E. de J., Peña, C. A. Desarrollo de una impresora 3D bajo la metodologia QFD. 
                            <em>XI Congreso Internacional Electrónica y Tecnologías de Avanzada</em>, Cúcuta, Colombia, 2015.
                        </p>
                    </td>
                    <td>
                        <p> Cortes, E. de J., <strong>Rodriguez, E.</strong>, Peña, C. A. Desarrollo de un robot paralelo 5R para la impresión en 3D. 
                            <em>IV Congreso Internacional de Ingeniería Mecatrónica y Automatización - CIIMA 2015</em>, Medellin, Colombia, 2015.
                            <a href="https://revistas.eia.edu.co/index.php/mem/article/view/812" target="_blank"><i class="fas fa-link"></i></a></p>
                    </td>
                </div>
                
            </div>
        </div>
    <!--divFooter-->
    <%- include('../partials/footer.html'); -%>

</body>
</html>