<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title%></title>

    <!--header-->
    <%- include('../partials/head.html') -%>

</head>
<body>
    <!--divLogo-->
    <%- include('../partials/logo.html'); -%> 
    <div id="divBoxed" class="container">
        <!--divNavigation-->
        <%- include('../partials/navigation.html'); -%>
        
        <div id="divArea" class="container mt-5">

            <div class="container">
                    <a href="/">Home</a> &nbsp;/&nbsp; <span>Publications</span>  &nbsp;/&nbsp; <span>Journal papers</span>
                </div>
        
                    <div class="container mt-5 mb-5">
                    <h3> Articles in peer-reviewed international journals  </h3>
                </div>
        
                <div class="container" style="text-align: center;">
                    <h4>-2019-</h4>
                </div>
        
                <div class="container" style="text-align: justify;">
                    <td>
                        <p> <strong>Rodriguez, E.</strong>, Alvares, A. A STEP-NC implementation approach for additive manufacturing. 
                            <em>Procedia Manufacturing</em>, 38, (2019). https://doi.org/10.1016/j.promfg.2020.01.002
                            <a href="https://www.sciencedirect.com/science/article/pii/S2351978920300020" target="_blank"><i class="fas fa-link"></i></a></p>
                    </td>
                    <td>
                        <p> <strong>Rodriguez, E.</strong>, Rodriguez, J. P., Alvares, A. J., Riaño, C., De Oliveira, L. E. Developing a MTConnect Framework for RepRap Additive Manufacturing Machines. 
                            <em>IFAC-PapersOnLine</em>, 52, 13 (2019). https://doi.org/10.1016/j.ifacol.2019.11.583
                            <a href="https://www.sciencedirect.com/science/article/pii/S2405896319315708" target="_blank"><i class="fas fa-link"></i></a></p>
                    </td>
                    <td>
                        <p> Riaño, C. <strong>Rodriguez, E.</strong>, Alvares, A. J. A Closed-Loop Inspection Architecture for Additive Manufacturing Based on STEP Standard. 
                            <em>IFAC-PapersOnLine</em>, 52, 13 (2019). https://doi.org/10.1016/j.ifacol.2019.11.629
                            <a href="https://www.sciencedirect.com/science/article/pii/S2405896319316179" target="_blank"><i class="fas fa-link"></i></a></p>
                    </td>
                    <td>
                        <p> <strong>Rodriguez, E.</strong>, Riaño, C., Alvares, A., Bonnard, R. Design and dimensional synthesis of a Linear Delta robot with single legs for additive manufacturing. 
                            <em>Journal of the Brazilian Society of Mechanical Sciences and Engineering</em>, 41, 536 (2019). https://doi.org/10.1007/s40430-019-2039-6 
                            <a href="https://link.springer.com/article/10.1007/s40430-019-2039-6" target="_blank"><i class="fas fa-link"></i></a></p>
                    </td>
                    <td>
                        <p> Toquica, J.S., Zivanovic, S., Bonnard, R. <strong>Rodriguez, E.</strong>, Alvares, A. J., Ferreira, J.C.E. STEP-NC-based machining architecture applied to industrial robots. 
                                <em>Journal of the Brazilian Society of Mechanical Sciences and Engineering</em>. 41, 314 (2019). https://doi.org/10.1007/s40430-019-1811-y
                            <a href="https://link.springer.com/article/10.1007/s40430-019-1811-y" target="_blank"><i class="fas fa-link"></i></a></p>
                    </td>
                    <td>
                        <p> <strong>Rodriguez, E.</strong>, Alvares, A. J., Riaño, C. Conceptual design and dimensional optimization of the linear delta robot with single legs for additive manufacturing. 
                            <em>Proceedings of the Institution of Mechanical Engineers, Part I: Journal of Systems and Control Engineering</em>, 233, 7 (2019). https://doi.org/10.1177/0959651819836915 
                            <a href="https://journals.sagepub.com/doi/abs/10.1177/0959651819836915" target="_blank"><i class="fas fa-link"></i></a></p>
                    </td>
                </div>

                <div class="container" style="text-align: center;">
                    <h4>-2018-</h4>
                </div>
        
                <div class="container" style="text-align: justify;">
                    <td>
                        <p> <strong>Rodriguez, E.</strong>, Bonnard, R., Alvares, A. Progresses in the Development of a STEP-NC Compliant Additive Manufacturing System. 
                            <em>Revista Produção e Desenvolvimento</em>, 4, 310 (2018). https://doi.org/10.32358/rpd.2018.v4.310
                            <a href="http://revistas.cefet-rj.br/index.php/producaoedesenvolvimento/article/view/310" target="_blank"><i class="fas fa-link"></i></a></p>
                    </td>
                    <td>
                        <p> <strong>Rodriguez, E.</strong>, Rodriguez. J. P., Hernandez, L. K. Impresora 3D open source desde el desarrollo de producto. 
                            <em>Revista Produção e Desenvolvimento</em>, special issue, (2018).
                            <a href="https://revistas.udistrital.edu.co/index.php/visele/numero_esp_2018-1" target="_blank"><i class="fas fa-link"></i></a></p>
                    </td>
                </div>

                <div class="container" style="text-align: center;">
                    <h4>-2016-</h4>
                </div>
        
                <div class="container" style="text-align: justify;">
                    <td>
                        <p> <strong>Rodriguez, E.</strong>, Cortes, E. de J., Peña, C. A. Aplicación de la Metodología QFD en el Desarrollo de una Impresora 3D. 
                            <em>Revista Colombiana de Tecnologías de Avanzada</em>, 2, 28 (2016). https://doi.org/10.24054/16927257.v28.n28.2016.2463
                            <a href="http://revistas.unipamplona.edu.co/ojs_viceinves/index.php/RCTA/article/view/2463" target="_blank"><i class="fas fa-link"></i></a></p>
                    </td>
                </div>
                
            </div>
        </div>
    <!--divFooter-->
    <%- include('../partials/footer.html'); -%>

</body>
</html>