<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title%></title>

    <!--header-->
    <%- include('../partials/head.html') -%>

</head>
<body>
    <!--divLogo-->
    <%- include('../partials/logo.html'); -%> 
    <div id="divBoxed" class="container">
        <!--divNavigation-->
        <%- include('../partials/navigation.html'); -%>
        
        <div id="divArea" class="container mt-5">

            <div class="container">
                    <a href="/">Home</a> &nbsp;/&nbsp; <span>Publications</span>  &nbsp;/&nbsp; <span>Workshops</span>
                </div>
        
                    <div class="container mt-5 mb-5">
                    <h3> Presentation at event seminars and workshops </h3>
                </div>
        
                <div class="container" style="text-align: center;">
                    <h4>-2019-</h4>
                </div>
        
                <div class="container" style="text-align: justify;">
                    <td>
                        <p> <strong>Rodriguez, E.</strong>. A Arte do 'Do It Yourself' com Arduino: um enfoque sobre IoT. 
                            <em>I Semana de Tecnologia e Inovação</em>, Centro Universitário UNIDESC, Luziânia-GO, Brazil, 2019. (invited talk)
                            <a href="/docs/apresentaçãoWorkshopUnidesc.pdf" target="_blank"><i class="far fa-file-pdf" style="color: darkred;"></i></a>
                        </p>
                    </td>
                    <td>
                        <p> <strong>Rodriguez, E.</strong>. Implementation of the STEP-NC and MTConnect Standards for Additive Manufacturing. 
                            <em>0th Brazilian Congress on Manufacturing Engineering</em>, Universidade Federal de São Carlos, São Carlos-SP, Brazil, 2019.
                            <a href="/docs/COBEF2019-Efrain.pdf" target="_blank"><i class="far fa-file-pdf" style="color: darkred;"></i></a>
                        </p>
                    </td>
                </div>

                <div class="container" style="text-align: center;">
                    <h4>-2018-</h4>
                </div>
        
                <div class="container" style="text-align: justify;">
                    <td>
                        <p> <strong>Rodriguez, E.</strong>. Design and Kinematic Analysis of the Linear Delta Robot with Single Legs for Additive Manufacturing. 
                            <em>X Congresso Nacional de Engenharia Mecânica - CONEM 2018</em>, SENAI-CIMATEC, Salvador-BA, Brazil, 2018. (Poster)
                            <a href="/docs/Conem-2018-Poster.pdf" target="_blank"><i class="far fa-file-pdf" style="color: darkred;"></i></a>
                        </p>
                    </td>
                    <td>
                        <p> <strong>Rodriguez, E.</strong>. Manufatura Aditiva na Era da Nova Revolução Industrial-Indústria 4.0. 
                            <em>II Semana de Ciência e Tecnologia</em>, Ramo Estudantil IEEE IFB campus Taguatinga, Brasilia-DF, Brazil, 2018. (invited talk)
                            <a href="/docs/additive-workshop.pdf" target="_blank"><i class="far fa-file-pdf" style="color: darkred;"></i></a>
                        </p>
                    </td>
                </div>
                
            </div>
        </div>
    <!--divFooter-->
    <%- include('../partials/footer.html'); -%>

</body>
</html>